# requirements.txt

# Core
fastapi
uvicorn
motor
pymongo
beanie
pytz
python-jose[cryptography]
argon2-cffi
python-dotenv
httpx
pydantic-settings
pydantic
pydantic_mongo
python-multipart
nest_asyncio
passlib
email-validator
secure-smtplib
langchain-community
langchain-groq

# Testing
selenium
webdriver-manager
pytest
pytest-asyncio
pytest-html
